#######################CRITICAL DO NOT REMOVE#############
*.vault
.env.me
ENV/
.env
env/
vault/
.env*
.flaskenv*
!.env.project
!.env.vault
#######################CRITICAL DO NOT REMOVE ############

#FrontENd
frontend/.next
node_modules/

.gitignore

docs/
